---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-gradient-to-r from-black to-purple-950 text-white">
		<Header />
		<main class="mt-0">
			<div class="flex justify-between items-center flex-col sm:flex-row">
				<h2 class="">Jocelyn Castro</h2>
				<img src="/avatar2.png" alt="" width="120" height="120" />
			</div>

			<p>
				<strong>Desarrolladora Fullstack</strong> con conocimientos de AWS
				y desarrollo de aplicaciones móviles.
			</p>
			<div class="flex flex-wrap m-4 animate-fade-right">
				<img src="/skills/aws.svg" alt="" />
				<img src="/skills/Html5.svg" alt="" />
				<img src="/skills/JavaScript.svg" alt="" />
				<img src="/skills/AngularJS.svg" alt="" />
				<img src="/skills/React2.svg" alt="" />
				<img src="/skills/Astro.svg" alt="" />
				<img src="/skills/CSS3.svg" alt="" />
				<img src="/skills/Ionic.svg" alt="" />
				<img src="/skills/TailwindCSS.svg" alt="" />
				<img src="/skills/Express.svg" alt="" />
				<img src="/skills/Mongo.svg" alt="" />
				<img src="/skills/Nodejs.svg" alt="" />
			</div>
			<p>
				Con experiencia en atención al cliente y como desarrolladora web
				Full Stack, busco fusionar mis habilidades tecnológicas con la
				capacidad de brindar soluciones empresariales centradas en el
				cliente. Apasionado por el diseño web, disfruto creando sitios
				web visualmente atractivos y altamente funcionales, impulsada
				por mi entusiasmo por las últimas tendencias tecnológicas para
				ofrecer experiencias digitales innovadoras.
			</p>
			<h5 class="mt-4">Formación</h5>
			<div class="table-responsive">
				<table border="1">
					<thead class="bg-gray-50">
						<tr>
							<th class="px-2 py-2 text-left text-gray-500"
								>Categoría</th
							>
							<th class="px-2 py-2 text-left text-gray-500"
								>Centro</th
							>
							<th class="px-2 py-2 text-left text-gray-500"
								>Horas</th
							>
							<th class="px-2 py-2 text-left text-gray-500"
								>Año</th
							>
						</tr>
					</thead>
					<tbody class="divide-y divide-gray-200">
						<tr>
							<td class="px-2 py-2">Cloud AWS Re/start</td>
							<td class="px-2 py-2">Factoría F5</td>
							<td class="px-2 py-2">420 Hrs</td>
							<td class="px-2 py-2">2024</td>
						</tr>
						<tr>
							<td class="px-2 py-2"
								>Desarrollo de Aplicaciones Móviles</td
							>
							<td class="px-2 py-2">CIFO</td>
							<td class="px-2 py-2">290 Hrs</td>
							<td class="px-2 py-2">2023-2024</td>
						</tr>
						<tr>
							<td class="px-2 py-2"
								>Desarrollo de Aplicaciones Web</td
							>
							<td class="px-2 py-2">FCI</td>
							<td class="px-2 py-2">690 Hrs</td>
							<td class="px-2 py-2">2023</td>
						</tr>
						<tr>
							<td class="px-2 py-2"
								>Técnico en seguridad de redes y sistemas</td
							>
							<td class="px-2 py-2">Centre Pridem</td>
							<td class="px-2 py-2">Manresa</td>
							<td class="px-2 py-2">2008</td>
						</tr>
						<tr>
							<td class="px-2 py-2">Autocad 2D</td>
							<td class="px-2 py-2">Centro Informatico</td>
							<td class="px-2 py-2">Manresa</td>
							<td class="px-2 py-2">2007</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h5 class="mt-4">Experiencia</h5>
			<div class="table-responsive">
				<table border="1">
					<thead class="bg-gray-50 text-gray-500">
						<tr>
							<th class="px-2 py-2 text-left text-gray-500"
								>Categoría</th
							>
							<th class="px-2 py-2 text-left text-gray-500"
								>Centro</th
							>
							<th class="px-2 py-2 text-left text-gray-500"
								>Ciudad</th
							>
							<th class="px-2 py-2 text-left text-gray-500"
								>Año</th
							>
						</tr>
					</thead>
					<tbody class="divide-y divide-gray-200">
						<tr>
							<td class="px-2 py-2"
								>Desarrollo de Aplicaciones web</td
							>
							<td class="px-2 py-2">Freelance</td>
							<td class="px-2 py-2">Manresa</td>
							<td class="px-2 py-2">2023-2024</td>
						</tr>
						<tr>
							<td class="px-2 py-2"
								>Departamento logistica Manipulación,
								preparación, picking, embalaje de joyas y
								complementos</td
							>
							<td class="px-2 py-2">Joyeria TOUS S.A</td>
							<td class="px-2 py-2">Manresa</td>
							<td class="px-2 py-2">2019-2021</td>
						</tr>
						<tr>
							<td class="px-2 py-2"
								>CTO - Encargada del la organización de
								trabajadores y trato comercial con los clientes</td
							>
							<td class="px-2 py-2">Dictum Domo </td>
							<td class="px-2 py-2">Granollers</td>
							<td class="px-2 py-2">2018-2019</td>
						</tr>
						<tr>
							<td class="px-2 py-2"
								>Encargada de la organización, mantenimiento y
								de la venta al público</td
							>
							<td class="px-2 py-2">Select-Fruits Garcia S.L</td>
							<td class="px-2 py-2">Manresa</td>
							<td class="px-2 py-2">2016</td>
						</tr>
						<tr>
							<td class="px-2 py-2"
								>Encargada del departamento de Compras.
								Organizar todo el departamento Comprar y
								clasificar los productos</td
							>
							<td class="px-2 py-2">Macaco</td>
							<td class="px-2 py-2">Manresa</td>
							<td class="px-2 py-2">2013-2014</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a
				href="./public/CV-JOCELYN-CF.pdf"
				download="CV-JOCELYN-CF.pdf"
				class="download-btn">Descargar CV</a
			>
		</main>
		<Footer />
		<style>
			p {
				font-size: 1.2rem;
				padding: 1rem, 0;
			}
			@media (max-width: 640px) {
				.table-responsive {
					overflow-x: auto;
					display: block;
				}
			}
			.download-btn {
				position: fixed;
				bottom: 20px;
				right: 20px;
				display: inline-block;
				padding: 10px 20px;
				background-color: #445388; /* Color de fondo azul */
				color: white; /* Color del texto blanco */
				text-decoration: none; /* Elimina el subrayado */
				border-radius: 5px; /* Redondea las esquinas */
				font-weight: bold; /* Hace el texto más grueso */
			}

			.download-btn:hover {
				background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
			}
		</style>
	</body>
</html>
